.card-image-wrapper {
    overflow: hidden;
    height: 200px;
    /* Altura deseada para las imágenes */
}

.card-image-wrapper .img-product {
    width: 100%;
    height: auto;
}

.fila {
    padding-bottom: 25px !important;
    /* Ajusta el valor según sea necesario */
}
.img-thumbnail {
    padding: .25rem;
    background-color: #217e4f !important;
    border: var(--bs-border-width) solid #217e4f !important;
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
}
.buscador{
    /* display: flex !important; */
    margin-bottom: 15px !important;
}